img {
    border: 5px solid greenyellow;
}

img:hover{
    border: 5px solid green;
}

h1{
    text-align: center;
    background-color: greenyellow;
    color: darkgreen;
}

h2 { position: relative;
    color: darkgreen;
}
